*{
    margin: 0;
}
.img1 img{
    margin: 10px;
    width: 302px;
    height: 320px;
    border-radius: 10px;
}
.img1 p{
    margin: 5px;
    font-size: 15px;
    width: 200px;
    color: white;
    position: relative;
    bottom: 200px;
    left: 30px;
}
.img1 h2{
    margin: 5px;
    font-size: 15px;
    width: 200px;
    color: white;
    position: relative;
    bottom: 200px;
    left: 30px;
}
.backgcolor{
    left: 10px;
    border-radius: 10px;
    position: relative;
    bottom: 114px;
    background: #d4ad7f;
    background: linear-gradient(to right, #2d2c5f, #346354);
    width: 302px;
    height: 100px;
}
.RecentNews{
    display: flex;
}
.content1{
    margin: 10px;
    display: flex;
}
.content1 img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.content2{
    margin: 10px;
    display: flex;
}
.content2 img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.content3{
    margin: 10px;
    display: flex;
}
.content3 img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.content{
    margin-top: 10px;
    font-size: 10px;
    margin-left: 20px;
    background-color: white;
    height: 320px;
    width: 300px;
    border-radius: 10px;
    
}
.content h2{
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    width: 180px;
    font-size: 15px;
}
.content p{
    margin:  20px 0 0 10px;
}
button{
    padding: 5px 10px;
    margin-left: 110px;
    margin-bottom: 30px;
    font-size: 15px;
    border-radius: 3px;
    color: white;
    background-color: #b8c2ce;
    border: none;
}
.team-logo {
    width: 25px;
    height: 25px;
}
.rankings{
    border-radius: 10px;
    margin: 65px 0px 0px 20px;
    height: 320px;
    width: 500px;
    background-color: white;
}
.team-cell {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    
}
h1{
    margin: 10px;
}
td{
    width: 250px;
    padding: 1px 0px 0px 15px;
    font-size: 13px;
}
hr{
    position: relative;
    width: 495px;
    border: 1 solid rgb(124, 124, 124);
    background-color: #f7f7f7;
}
body{
    background-color: #acacac;
}
h2{
    margin: 10px 0 0 10px;
}